<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <hr/>

            <h1 class="mb-4">Businesses</h1>

            {{ if gt (len .Businesses) 0 }}

                {{ if .Total }}
                    <div class="mb-3">{{ .Total }} total results {{ if .Location }} within 3KM of "{{ .Location }}" {{ end }}</div>
                {{ end }}

                {{ range $key, $val := .Businesses }}
                    <a class="business-item" href="/business/{{ $val.ID }}">
                        <div class="mb-3">
                            <div class="business-name">{{ add $key $.StartNo }}. {{ $val.Name }}</div>
                            <div class="business-short-description">{{ $val.ShortDescription }}</div>
                            <div class="business-pickup">Self-Pickup: {{ if $val.Address }}<i class="fas fa-check text-success"></i>{{ else }}<i class="fas fa-times text-danger"></i>{{ end }}</div>
                            {{ if $val.Distance }}
                            <div>Approximate Distance: {{ formatDistance $val.Distance }}</div>
                            {{ end }}
                        </div>
                    </a>
                {{ end }}

                <div class="d-flex align-items-center justify-content-center">
                    {{ if .PrevURL }}
                    <div class="mx-1"><a href="/business{{ .PrevURL }}"><<< Prev Page</a></div>
                    {{ end }}

                    {{ if .NextURL }}
                    <div class="mx-1"><a href="/business{{ .NextURL }}">Next Page >>></a></div>
                    {{ end }}
                </div>
            {{ else }}
            <div>
                No results found.
            </div>
            {{ end }}

            {{template "footer"}}
        </div>
    </body>
</html>