<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <hr/>

            {{ if gt (len .Businesses) 0 }}
                {{ range $key, $val := .Businesses }}
                    <a class="business-item" href="/business/{{ $val.ID }}">
                        <div class="mb-3">
                            <div class="business-name">{{ add $key $.StartNo }}. {{ $val.Name }}</div>
                            <div class="business-short-description">{{ $val.ShortDescription }}</div>
                            <div class="business-pickup">Self-Pickup: {{ if $val.Address }}<i class="fas fa-check text-success"></i>{{ else }}<i class="fas fa-times text-danger"></i>{{ end }}</div>
                        </div>
                    </a>
                {{ end }}
            {{ else }}
            <div>
                No results found.
            </div>
            {{ end }}

            {{template "footer"}}
        </div>

        <style>
            .business-item {
                text-decoration: none;
                color: #000;
            }
            .business-item:hover {
                color: #444;
            }
            .business-name {
                font-weight: bold;
            }
        </style>
    </body>
</html>