<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <h1>Add Business</h1>

            <hr/>

            <form method="post">
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" name="name" placeholder="Business name">
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input class="form-control" type="text" name="description" placeholder="Brief company description">
                </div>
                <div class="form-group mb-3">
                    <label for="address" class="form-label">Business / Pickup Address</label>
                    <input class="form-control" type="text" name="address" placeholder="Building, Street, etc">
                </div>
                <div class="form-group mb-3">
                    <label for="unitno" class="form-label">Unit No</label>
                    <input class="form-control" type="text" name="unitno" placeholder="Unit No">
                </div>
                <div class="form-group mb-3">
                    <label for="zipcode" class="form-label">Postal Code</label>
                    <input class="form-control" type="text" name="zipcode" placeholder="Postal Code">
                </div>
                <div class="form-group mb-3">
                    <label for="website" class="form-label">Website</label>
                    <input class="form-control" type="text" name="website" placeholder="Website URL">
                </div>
                <div class="form-group mb-3">
                    <label for="instagram" class="form-label">Instagram</label>
                    <input class="form-control" type="text" name="instagram" placeholder="Instagram URL">
                </div>
                <div class="form-group mb-3">
                    <label for="facebook" class="form-label">Facebook</label>
                    <input class="form-control" type="text" name="facebook" placeholder="Facebook URL">
                </div>

                <button type="submit" class="btn btn-primary btn-purple mb-3">Submit</button>
            </form>

            {{template "footer"}}
        </div>
    </body>
</html>