<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <hr/>

            <h1>Profile</h1>

            <br/>

            <div>
               <p>{{ .User.Fullname }}</p>
               <p>{{ .User.Email }}</p>
               
               <a href="/users/edit">Edit Profile</a>
            </div>

            {{template "footer"}}
        </div>
    </body>
</html>