<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <h1>Update Comment </h1>

            <hr/>

            {{ if .ErrorMsg }}
            <div class="alert alert-danger" role="alert">
                {{ ucFirst .ErrorMsg }}
            </div>
            <hr/>
            {{ end }}
            
            <form method="post">
                <div class="form-group mb-3">
                    <label for="comment" class="form-label">Edit Comment</label>
                    <input class="form-control" type="text" name="comment" placeholder="Edit Comment">
                </div>

                <button type="submit" class="btn btn-primary btn-purple mb-3">Submit</button>
            </form>

            {{template "footer"}}
        </div>
    </body>
</html>