<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <hr/>

            <h1 class="mb-4">{{ .Business.Name }}</h1>

            <div>
                {{ if .Business.Description }}
                <div class="mb-3">{{ .Business.Description }}</div>
                {{ end }}

                {{ if or .Business.Address .Business.UnitNo .Business.Zipcode }}
                    <div class="mb-3">
                        <div><strong>Self Pickup Address</strong></div>
                        {{ if .Business.Address }}
                        <div>{{ .Business.Address }}</div>
                        {{ end }}

                        {{ if .Business.UnitNo }}
                        <div>{{ .Business.UnitNo }}</div>
                        {{ end }}

                        {{ if .Business.Zipcode }}
                        <div>{{ .Business.Zipcode }}</div>
                        {{ end }}
                    </div>
                {{ end }}

                {{ if .Business.Website }}
                <div class="d-flex flex-row">
                    <div style="min-width: 20px;"><i class="fas fa-link mr-3"></i></div>
                    <div><small><a href="{{ .Business.Website }}" target="_blank">{{ .Business.Website }}</a></small></div>
                </div>
                {{ end }}

                {{ if .Business.Instagram }}
                <div class="d-flex flex-row">
                    <div style="min-width: 20px;"><i class="fab fa-instagram"></i></div>
                    <div><small><a href="{{ .Business.Instagram }}" target="_blank">{{ .Business.Instagram }}</a></small></div>
                </div>
                {{ end }}

                {{ if .Business.Facebook }}
                <div class="d-flex flex-row">
                    <div style="min-width: 20px;"><i class="fab fa-facebook-f mr-3"></i></div>
                    <div><small><a href="{{ .Business.Facebook }}" target="_blank">{{ .Business.Facebook }}</a></small></div>
                </div>
                {{ end }}
            </div>

            {{ if and .Business.Lat .Business.Lng }}
            <div id="map" class="mt-3" style="min-height: 500px; width: 100%; height:100%"></div>

            <script src="https://maps.googleapis.com/maps/api/js?key={{ .GMapsAPIKey }}&callback=initMap&libraries=&v=weekly" async></script>
            <script>
            // Initialize and add the map
            function initMap() {
                const pos = { lat: {{ .Business.Lat }}, lng: {{ .Business.Lng }} };
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 18,
                    center: pos,
                });
                const marker = new google.maps.Marker({
                    position: pos,
                    map: map
                });
            }
            </script>
            {{ end }}

            <div class="mt-3">
                <a href="/business/update/{{ .Business.ID }}">Edit Business</a>
            </div>

            <hr/>

            {{ if gt (len .Comments) 0 }}
                {{ range $key, $val := .Comments }}
                        <div class="mb-3">
                            <div class="d-flex align-items-center">
                                <div class="userAvatar p-3"><i class="fas fa-user fa-2x"></i></div>
                                <div class="d-flex flex-column">
                                    <div class="userID">User #{{ $val.UserID }}</div>
                                    <div>Posted on {{ formatCommentDate $val.CreatedAt }}</div>
                                </div>
                            </div>
                            <div class="comment-content">{{ $val.Content }}</div>
                            {{ if eq $.User.ID $val.UserID }}                                                        
                            <div>
                                <small><a href="/business/{{ $val.BusinessID }}/comment/{{ $val.CommentID }}/edit"><i class="fas fa-pencil-alt"></i> Edit</a></small>
                                <small><a href="/business/{{ $val.BusinessID }}/comment/{{ $val.CommentID }}/delete"><i class="fas fa-times"></i> Delete</a></small>
                            </div>
                            {{ end }}
                        </div>
                {{ end }}
            {{ else }}
            <div>
                No comments.
            </div>
            {{ end }}

            <hr/>

            <div>
                <a href="/business/{{ .Business.ID }}/comment">Add New Comment</a>
            </div>

            {{template "footer"}}
        </div>
    </body>
</html>