<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">

            <div>
                {{ if .Comment }}
                <div class="mb-3">
                    <div class="userID">Written by: User # {{ .Comment.UserID }}</div>
                    <div class="businessID">Written for Business # {{ .Comment.BusinessID }}</div>
                    <div class="comment-content">{{ .Comment.Content }}</div>
                    <div class="create-date">Written on: {{ .Comment.CreatedAt }}</div>
                    <div class="create-date">Last edited on: {{ .Comment.UpdatedAt }}</div>
                </div>
            </div>

            <div class="mt-3">
                <a href="/category/update/{{ .Category.ID }}">Edit Category</a>
            </div>

            {{template "footer"}}
        </div>
    </body>
</html>