<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header" .}}
    </head>
    <body>
        <div class="container">
            {{template "nav" .}}

            <div>hello world</div>

            {{template "footer"}}
        </div>
    </body>
</html>